/* Item List
############################################################################ */

.item-list {
  &.is-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  }

  &.is-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    &:hover {
      background-color: var(--color-th-orange);
      color: var(--color-white);
    }

    position: relative;
    padding: var(--s);
    margin-right: var(--s);
    margin-bottom: var(--s);
    background-color: var(--color-white);
    line-height: var(--lh-tight);
    border-radius: var(--xs);

    address {
      font-size: var(--s);
    }

    &.has-icon {
      padding-left: calc(var(--xxl) + var(--s));
    }

    p {
      margin-bottom: 0;
    }
  }
}

/* Main Header
############################################################################ */
.main-header {
  padding: var(--m);
}

/* Hero
############################################################################ */
.hero {
  padding-bottom: var(--xxxl);
  margin: var(--m);
  border-radius: var(--s);
  background-color: var(--color-th-orange);
  color: var(--color-white);

  h2,
  h3 {
    font-size: var(--xl);
  }

  a {
    color: var(--color-white);
  }
}

/* Card Grid
############################################################################ */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));

  li {

    &:hover {
      background-color: var(--color-th-orange);
      color: var(--color-white);

      .tag-list {
        li {
          background-color: var(--color-grey-dark);
          color: var(--color-white);
        }
      }
    }

    padding-bottom: var(--quarter);
    margin-bottom: var(--s);
    margin-right: var(--s);
    background-color: var(--color-white);
    border-radius: var(--s);

    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-top-left-radius: var(--s);
      border-top-right-radius: var(--s);
    }

    figcaption {
      padding: var(--s);
    }

    h3 {
      padding: 0;
      margin: 0;
      font-weight: var(--fw-bold);
    }

    address {
      margin-bottom: var(--s);
    }
  }
}

/* Tag List
############################################################################ */

.tag-list {
  li {
    display: inline-block;
    padding: var(--eighth) var(--half);
    margin-bottom: 0;
    background-color: var(--color-grey);
    font-size: var(--s);
  }
}

/* Main Footer
############################################################################ */

.main-footer {
  padding: var(--m);
  background-color: var(--color-grey-dark);
  color: var(--color-white);

  h2 {
    margin-bottom: var(--quarter);
    font-size: var(--m);
  }

  ul {
    margin-bottom: var(--m);

    li {
      font-weight: var(--fw-light);

      &::before {
        margin-right: var(--half);
        content: "»";
        font-size: var(--xl);
        font-weight: var(--fw-regular);
        line-height: 90%;
        vertical-align: bottom;
      }
    }
  }
}

/* Main Navigation
############################################################################ */

.main-navigation {
  display: flex;
  gap: var(--m);

  .logo {
    display: block;
    flex-grow: 2;

    img {
      height: 50px;
    }
  }
}

.main-menu-trigger {
  border: none;
  margin-right: var(--xs);
  background-color: var(--color-white);
  color: var(--color-white);
  cursor: pointer;

  span {
    display: block;
    width: var(--xl);
    height: var(--eighth);
    margin-bottom: var(--quarter);
    background-color: var(--color-darkest);
  }
}
